body {
    background-color: #323232;
    color: white;
    margin: 0px;
}

hr {
    margin: 5px 0px;
}

/* input stuff */

input[type=button] {
    border-style: solid;
}

input[type=button]:hover {
    border-color: aqua;
    background-color: aqua;
}

.selected {
    border-color: aqua;
    background-color: aqua;
    outline: none;
}

input[type=button]:focus, input[type=button]:disabled:hover {
    border-color: buttonface;
    background-color: buttonface;
}

p {
    font: 14px helvetica;
    margin-bottom: 0px;
}

select {
    width: 100%;
    display: block;
}

/* sections */

.option {
    margin-bottom: 10px;
}

.grid {
    display: flex;
}

.flex {
    flex: 1;
}

.sidebar {
    margin: 5px;
    border-right: solid white;
    padding-right: 10px;
    font-size: 0;
}

.content {
    margin: 5px;
    flex: 1;
    font-size: 0;
}

/* object block in sidebat */

.object_block *:first-child {
    margin-top: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.object_block *:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.object_block input {
    width: 202px;
    display: block;
}

/* settings */

#settings label {
    display: block;
    margin-top: 5px;
}

#settings textarea {
    width: 196px;

    resize: vertical;
}

.settingsArray {
    padding-left: 6px;
    border-left: solid white;
}

.settingsArray input[type=button] {
    margin: auto;
}

/* joint buttons */

.leftJointButton {
    box-sizing: border-box;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.centerJointButton {
    box-sizing: border-box;
}

.rightJointButton {
    box-sizing: border-box;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}